################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.zipcode
bin
obj
/examples/connectico.zip-code.config.json
